<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Workshop</title>
    
    <!-- 3rd Party Libraries -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Our own styles -->
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-app="MyApp">

    <!-- .navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a href="#" class="navbar-brand">Angular Workshop</a></div>
        </div>
    </nav>
    <!-- end .navbar -->

    <!-- .container -->
    <div class="container" ng-controller="AppController">
        <div class="row">
            <div class="chatbox-wrapper col-md-8">
                <h4>Chat Box</h4>
                <div class="chatbox">
                    <p class="message" ng-repeat="message in messages">
                        <span class="user">{{ message.user }}</span>: {{ message.content }}
                    </p>
                    <!--<p class="message" style="color: red">
                        <span class="user">Jolli Bebeng</span>: Hola!
                    </p>
                    <p class="message" style="color: green">
                        <span class="user">Mac Dodongs</span>: Kamusta!
                    </p>
                    <p class="message" style="color: blue">
                        <span class="user">George Tilap</span>: she said...
                    </p>
                    <p class="message" style="color: red">
                        <span class="user">Jolli Bebeng</span>: konichiwa!
                    </p>
                    <p class="message" style="color: green">
                        <span class="user">Mac Dodongs</span>: Konichiwa
                    </p>-->
                    <form class="form-inline chatbox-controls" ng-submit="sendMessage()">
                        <div class="form-group">
                            <textarea name="message"class="form-control" id="message" cols="65" rows="2" ng-model="message"></textarea>
                            <button class="btn btn-default btn-lg" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="chatbox-sidebar col-md-4">
                <h4>People ({{ people.length }})</h4>
                <ul class="online">
                    <li ng-repeat="person in people">{{ person.name }}</li>
                    <!--<li style="color: red">Jolli Bebeng</li>
                    <li style="color: green">Mac Dodongs</li>
                    <li style="color: blue">George Tilap</li>-->
                </ul>
            </div>
        </div>
    </div>
    <!-- end .container -->

    <!-- 3rd Party Libraries -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <!-- Our own scripts (Make sure that the angular.js loads first before our own script, else you'll get errors) -->
    <script type="text/javascript">
        var app = angular.module('MyApp', []);
        
        app.controller('AppController', function ($scope) {
            var currentUser = '';

            $scope.people = [
                {
                    name: 'Jolli Bebeng'
                },
                {
                    name: 'Mac dodong'
                }
            ]

            $scope.messages = [
                {
                    user: 'Jolli Bebeng',
                    content: 'Hi!'
                },
                {
                    user: 'Mac Dodong',
                    content: 'Hello!'
                }
            ];

            $scope.sendMessage = function () {
                if (currentUser.length == 0) {
                    currentUser = $scope.message;
                } else {
                    $scope.messages.push({
                        user: currentUser,
                        content: $scope.message
                    });
                }

                $scope.message = '';
            };
        });
    </script>
</body>
</html>